@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

.bg-gradient {
  background: linear-gradient(to bottom right, #ffffff, #76fa8190);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.opacity-transition {
  animation: fadeIn 12s ease;
  animation-fill-mode: forwards;
}

.button {
  width: 8rem;
  background-color: #64cd6c;
  color: #ffffff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: opacity 0.3s;
}

.button {
  font-family: "Quicksand", sans-serif;
  width: 8rem;
  background-color: #64cd6c;
  box-shadow: #c5c4c4 1px 2px;
  color: #ffffff;
  font-weight: bold;
  padding: 0.5rem 0.5rem;
  border-radius: 0.375rem;
  transition: opacity 0.3s;
  letter-spacing: 1px;
}

.button:hover {
  background-color: #57a855;
}

.button-clean {
  font-family: "Quicksand", sans-serif;
  width: 8rem;
  border: 1px solid rgba(10, 10, 10, 0.446);
  box-shadow: #c5c4c4 1px 2px;
  color: #4b4b4b;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: opacity 0.3s;
  letter-spacing: 1px;
}

.button-clean:hover {
  background-color: #44444422;
}

.dropdown-container {
  position: absolute;
  right: 0;
  margin-top: 8px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  display: block;
  padding: 8px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #f2f2f2;
}

.profile-container {
  padding: 20px;
}
